[Desktop Entry]
Name=Ayaz DE
GenericName=Masaüstü Ortamı
Comment=Ankora Linux Minimalist Kiosk Masaüstü Ortamı (Devuan Daedalus)
Exec=/usr/bin/ayaz
Icon=ayaz
Terminal=false
Type=Application
Categories=System;Utility;Core;
StartupNotify=false
Keywords=desktop;environment;ankora;ayaz;kiosk;
